.Discovergrid{
height:15px
}
.discovericon{
    height:45px;
    width:45px;
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    color:yellow !important
}
.card-header,.card-footer{
    background-color: transparent !important;
}