.secondswitch .p-inputswitch-slider{
    border:1px solid rgb(194, 189, 189);
}
.secondswitch{
    margin-bottom: -8px;
}
.Getbutton{
    background-color:rgb(247 75 6)
}
.mainsecondicon {
    width: 20px;
    height: 20px;
    padding: 1px !important;
    font-size: smaller;
}
.mainsecondgrid{
background:#fdf5e6;
}
.profilemainsecond{
    width:30px;
    height:30px;
    border:1px solid rgb(141, 139, 139);
}
.middleline{
    margin-top: 10px;
}
.profilemainsecond > *{
 /* color: rgb(141, 139, 139); */
 font-size: medium;
}
.shieldicon{
    width: 20px;
}