.fontPopins{
font-family: Poppins;;
}

.Blogsiconp{
    height:50px;
    width:50px
}
.fonstweight{
    font-weight: 650;
}
.blogcard-bg{
    background: rgb(245,217,205) ;
    background:  linear-gradient(138deg, rgb(245 224 216 / 89%) 0%, rgb(196 187 196 / 24%) 100%)
}