.gradientflash{
    background: rgb(142,60,208);
    height: 100vh  !important;
background:linear-gradient(90deg, rgb(64 75 216) 00%, rgba(189, 143, 226, 1) 25%, rgb(232 54 54) 70%);
}
.fw-normal {
    font-weight: 500 !important;
}
.p-inputswitch .p-inputswitch-slider{
    background-color:#e6fdfe ;
    /* height: 23px;
    margin-top: 2px; */
}
.p-inputswitch .p-inputswitch-slider:before {
    background: rgb(64 75 216);
    /* width: 1rem;
    height: 1rem;
    left: 0.25rem;
    margin-top: -0.525rem;
    border-radius: 50%;
    transition-duration: 0.2s; */
}
    .fontheadsize {
        font-size: 4rem !important;
    }
.orangebutton{
box-shadow: 0px -0.2px 1px #ded6d6, 0px 0.2px 1px #ded6d6;
    background: rgb(232 54 54);
    font-weight: 500 !important;
}
.whitebutton{
    box-shadow: 0px -0.2px 1px #000000, 0px 0.2px 1px #000000;
    font-weight: 500 !important;

}
.comphotoes{
height: 45px;
width: 45px;
margin-left: -9px;
}