.logoweb{
    height: 42px;
    width: auto;
    filter: brightness(0) invert(1);
   
}
.headingtext{
    list-style: none;
    font-family: 'NotoSans';
}
.fw-normal{
    font-weight: 500 !important;
}
#buttonbackgroundcolor{
background-color: rgb(82, 88, 228);
}
.background{
    background:linear-gradient(90deg, rgb(64 75 216) 00%, rgba(189, 143, 226, 1) 25%, rgb(232 54 54) 70%);
}