
.Mainonecontainer{color:rgb(64 75 216);font-family: Poppins;}
.Mainonecontainer-bg{
    background: #e5fdff !important;
}
.gridicon > *{
 background-color: rgb(232 54 54);
 width: 35px;
 height: 35px;
 padding: 7px;
 border-radius: 50%;
}